body {}

#container {
    display: grid;
    grid-template-areas:
    "about . projects",
    ". intro .",
    ". contact .";

}

.highlight {
    color: darkviolet;
}

#intro {

    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34pt;
    grid-area: intro;
}


.text {
    font-family: 'Rubik', sans-serif;
    color: black
}

#about {
    grid-area: about;
}

#projects {
    grid-area: projects;
}

#contact {
    grid-area: contact;
}
