html {
    min-height: 100%
}


body {
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #071423 25%, #0e1d2e 55%, #4a3429 73%, #af6527 85%, #000000 88%, #000000 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #071423 25%, #0e1d2e 55%, #4a3429 73%, #af6527 85%, #000000 88%, #000000 100%);
    background: linear-gradient(to bottom, #000000 0%, #071423 25%, #0e1d2e 55%, #4a3429 73%, #af6527 85%, #000000 88%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000a12', endColorstr='#000000', GradientType=0);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline;
    color: white;
    white-space: pre;
    line-height: 82%;
    overflow: hidden;
}

.text {
    font-family: 'Montserrat', sans-serif;
    color: #3e6787;
    text-align: center;
    font-size: 22px;
    font-size: 1.4rem;
}

.arrowDown {
    position: absolute;
    margin-left: 50%;
    transform: rotate(90deg) scale(3);
    color: #3e6787;
}

.changeArrow {
    background-color: white
}

#about {
    margin: 1em 0 0.5em 0;
    font-weight: 800;
    text-transform: uppercase;
    color: #3e6787;
    font-size: 58px;
    font-size: 3.625rem;
    text-shadow: 1px 1px 0 #305169,
        2px 2px 0 #305169,
        3px 3px 0 #305169;
}

#intro {
    width: 80%;
    margin: 16px auto;
}



#line1 {
    animation: shine1 10s infinite;
    user-select: none
}

#line2 {
    animation: shine2 15s infinite;
    user-select: none
}

#line3 {
    animation: shine3 20s infinite;
    user-select: none
}

@keyframes shine1 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes shine2 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes shine3 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.info {
    position: absolute;
    margin-top: 0px;
    padding-bottom: 0px;
    height: 83vh;
    overflow: scroll;
}



#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* margin-bottom: 120px; */
}

li {
    list-style-type: none;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;

}

li:hover {
    cursor: pointer;
}

.underline {
    background: linear-gradient(0deg, #3e6787 0%, #3e6787 100%);
    color: #3e6787;
    background-repeat: no-repeat;
    border-radius: 20%;
    padding: 3px;
    background-size: 0% 0%;
    background-position: 50% 50%;
    transition: background-size 0.25s ease-in, color 0.25s ease-in;
    /* transition: color 0.25s ease-in; */

}

.underline:hover {
    background-size: 100% 88%;
    color: black
}

/* #aboutNav::before{
content: "";
position: relative;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: white;
visibility: hidden;
-webkit-transform: scaleX(0);
transform: scaleX(0);
-webkit-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}

#aboutNav:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
} */

a:link {
    text-decoration: none;
}

.navContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 30%;
    margin-right: 30%;
    align-items: center;
}

.logo-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    margin-top: 15px;
}

.logo {
    margin: 20px;
}

#people {
    position: fixed;
    bottom: 50px;
    right: 0px;
}

#house {
    position: fixed;
    bottom: 80px;
    left: 5px;
}

#smoke {
    position: fixed;
    bottom: 330px;
    left: 15px;
    opacity: 0;
    animation: smoke linear 10s infinite;
    /* height: 100px;
    /* width: 10px; */
    /* animation: smokeup cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards; */
}

@keyframes smoke {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    50% {
        opacity: 1;
        transform: translateX(0);
    }

    75% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

.projects-container {
    height: 100%;
    width: 100%;
}


.projects {
    display: grid;
    grid-template-areas:
        ". a a ."
        ". b c ."
        ". d e .";
    grid-template-columns:
        25% 25% 25% 25%;
}

.screen {
    height: auto;
    width: 100%;
}

.screen:hover {
    cursor: pointer;
}

#title1 {
    font-size: 1.8rem;
}

#title2 {
    font-size: 1.8rem;
}

#title3 {
    font-size: 1.8rem;
}

.headingP {
    grid-area: a;
}

#headingP {
    margin: 1em 0 0.5em 0;
    font-weight: 800;
    text-transform: uppercase;
    color: #3e6787;
    font-size: 58px;
    font-size: 3.625rem;
    text-shadow: 1px 1px 0 #305169,
        2px 2px 0 #305169,
        3px 3px 0 #305169;
}

.project1 {
    grid-area: b;
    padding: 5%;
}

.project2 {
    grid-area: c;
    padding: 5%;
}

.project3 {
    grid-area: d;
    padding: 5%;
}

@media (max-width: 1164px) {

    #people {
        display: none;
    }

    #house {
        display: none;
    }

    #smoke {
        display: none;
    }
}


@media (max-width: 1130px) {
    .projects {
        display: grid;
        grid-template-areas:
            ". a ."
            ". b ."
            ". c ."
            ". d ."
            ". e .";
        grid-template-columns:
            12.5% 75% 12.5%;
        align-content: center;
    }

    .screen {
        display: flex;
        height: auto;
        width: 100%;
        /* margin-left: 20px; */
    }

    #headingP {
        font-size: 3.5rem;
    }

}